/* Font related stuff */
@font-face {
    font-family: "Pathfinder2eActions";
    src: url("../fonts/Pathfinder2eActions.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
  
.action {
    font-size: 2.4ex;
    font-family: 'Pathfinder2eActions', 'sans-serif';
    padding-left: 3px;
    padding-right: 3px;
}

.application {
    font-display: swap;
}

.roboto-condensed, 
div.roboto-condensed.v-card__title span,
div.roboto-condensed.text-caption,
div.roboto-condensed.text-sm-body-1,
div.roboto-condensed.text-md-h6,
div.roboto-condensed.col.col-12,
div.roboto-condensed.v-card__title {
    font-family: 'Roboto Condensed' !important;
    font-display: swap;
}

.monospace {
    font-family: monospace !important;
    font-display: swap;
}

.pointer {
    cursor: pointer;
}

/* Dialog related */
.no-scroll {
    overflow-y: hidden !important;
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

html {
  overflow: hidden !important;
}

.accent-item {
    --scrollbarBG: #ffffff;
    border-left-color: var(--scrollbarBG);
    border-left-style: solid;
    border-left-width: 4px;
}

.theme--dark.accent-item {
    --scrollbarBG: #1E1E1E;
}

.accent-selected {
    --initiativeAccent: #064444;
    --selectedBG: rgba(0, 0, 0, 0.025);
    background-color: var(--selectedBG);
    border-left-color: var(--initiativeAccent);
    border-left-style: solid;
    border-left-width: 4px;
}

.accent-current {
    --initiativeAccent: #f5daab;
    --selectedBG: rgba(0, 0, 0, 0.025);
    background-color: var(--selectedBG);
    border-left-color: var(--initiativeAccent);
    border-left-style: solid;
    border-left-width: 4px;
}

.theme--dark.accent-current,
.theme--dark.accent-selected {
    --selectedBG: rgba(255, 255, 255, 0.025);
}

.alt-scrollbar {
    --scrollbarBG: #ffffff;
    --thumbBG: rgba(122,122,122,1);
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.theme--dark.alt-scrollbar {
    --scrollbarBG: #1E1E1E;
}

.alt-scrollbar::-webkit-scrollbar {
    width: 9px;
}
.alt-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
.alt-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.spell-dialog {
    max-width: 800px;
}

.grabbable {
    cursor: grab !important;
}

.sortable-chosen, .ghost {
    cursor: grabbing !important;
}

.no-transparancy {
    background: #212121;
    opacity: 1;
}

.width-100 {
    width: 100%;
}